body {
  background: #0b0b0b;
  color: #eaeaea;
  font-family: Georgia, serif;
  margin: 0;
}

header {
  background: #000;
  padding: 25px;
  text-align: center;
  border-bottom: 1px solid darkred;
}

h1, h2, h3 {
  color: darkred;
}

.container {
  max-width: 750px;
  margin: auto;
  padding: 30px;
}

a {
  color: crimson;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.chapter {
  line-height: 1.9;
  font-size: 18px;
}

.card {
  background: #111;
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
}
